.navbar-expand-lg { background-color: #484848; }
.nav-item {list-style: none;}
.nav-item a { color: #fff; }
.nav-item a:hover { color: #a3deec; }
.nav-item .active { color: #2a8399; }

.welcome{
    text-align: center;
    font-size: 16px;
}