.navbar-expand-lg { background-color: #030303; }
.nav-item {list-style: none;}
.nav-item a { color: #fff; }
.nav-item a:hover { color: #26b9dd; }
.nav-item .active { color: #2a8399; }

.welcome{
    text-align: center;
    font-size: 16px;
}

.item{
    border-radius: 8px;
    box-shadow: 0 2px 8px rgb(89 90 91 / 74%);
    background-color: #030303;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    background: #030303;
    padding: 20px 55px;
}
.item a{
    text-decoration: none;
    color: inherit;
}
@media only screen and (max-width: 768px) {
    .logo{
        display: none;
    }
    .nav-item {
        font-size: 0.6rem;
    }
    
}
