.navbar { background-color: #484848; }
.navbar .navbar-nav .nav-link { color: #fff; }
.navbar .navbar-nav .nav-link:hover { color: #a3deec; }
.navbar .navbar-nav .active > .nav-link { color: #a3deec; }

.welcome{
    text-align: center;
    font-size: 16px;
}